body {
    background-color: #F0EFEC;
    font-family: Verdana;
    font-size: 15px;
}

.wrap {
    width: 900px; 
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto; 
    margin-right: auto; 
}

.header {
    display: grid;
    /* background-color: #7b7974; */
    grid-template-columns: 160px 160px; /*changing to 160px 160 will make them overlap*/ 
    /* 1fr 1fr worked fine*/
    justify-content: center;
    /* align-content: center; */ /*Not working as above does*/
    /* vertical-align: center; */ /*align-items work better*/
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px; /* GW6: not working with 40, top and bottom */
    padding-top: 10px; /* adds even more white space with 40px */
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top: 40px;
    margin-bottom: 40px; */
    box-shadow: 1px 1px 1px #00000050;
}

.mystery-card {
    text-align: center; /* GW7: Not working/aligning text */
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    /* align-items: center; */

}

.instructions { 
    border-width: 4px;
    border-style: solid; 
    border-color: rgb(255, 255, 255); 
    margin: 20px; /* GW6: not seeing any real difference */
}

.footer {
    text-align: center;
}


.pointer:hover {
    cursor: pointer;
    padding-bottom: 5px; /* GW6: not working with 40, top and bottom */
    padding-top: 5px; /* adds even more white space with 40px */
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s;

}

img {
    width: 100%;
}