body {
    background-color: #F0EFEC;
}

.wrap {
    width: 900px; 
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto; 
    margin-right: auto; 
}

span{
    color: black;
}

.header {
    display: grid;
    /* background-color: #7b7974; */
    grid-template-columns: 160px 160px; /*changing to 160px 160 will make them overlap*/ 
    /* 1fr 1fr worked fine*/
    justify-content: center;
    /* align-content: center; */ /*Not working as above does*/
    /* vertical-align: center; */ /*align-items work better*/
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    background-color: white;
}

.mystery_person {
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    align-items: center;
}

img {
    width: 100%;
}